{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sed nam cum, delectus, odio dolorum voluptate repellat nostrum porro voluptatum voluptates perspiciatis consequatur natus ipsum quia autem eveniet labore laboriosam adipisci, dolore in repellendus ea. Libero suscipit commodi, architecto fugit voluptate esse enim nam? Aliquid qui omnis expedita asperiores odio facilis quam dolor temporibus quos rem delectus quo mollitia adipisci est optio voluptate ipsam, ducimus, animi ad soluta! Inventore, ab saepe reprehenderit veritatis tenetur magnam impedit quos sed odit, vitae optio quaerat. Ut necessitatibus aut, adipisci earum eum, saepe reprehenderit, dolores architecto consequuntur molestiae distinctio expedita blanditiis sed voluptatum esse!
            </p>
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signiup
                </a>
            </div>
        </section>
    </main>
{% endblock %}



